
.whizButton {
	z-index: 2;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
	white-space: nowrap;
	display: none;
}

.whizButton:hover {
	border: solid 1px grey;
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.6);
}

.whizButton:active {
	box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.3);
}


.buttonBar {
	list-style-type: none;
	text-align: center;
	margin: 0;
	position: sticky;
	top: 0;
	z-index: 3;
	padding: 2px 25px;
	max-width: 50%;
    min-width: 200px;
    margin: auto;
	width: fit-content;
}

.messageViewerBtnBar {
	list-style-type: none;
	text-align: center;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 45%;
	z-index: 3;
	padding: 2px 25px;
	max-width: 50%;
    min-width: 200px;
    margin: auto;
	width: fit-content;
	pointer-events: none;
}


.messageViewerBtnBar .whizButton {
	pointer-events: auto;
}

.messageViewerBtnBar li {
	display: inline-block;
	margin: 3px;
  }

.buttonBar li {
  display: inline-block;
  margin: 3px;
}

.buttonBar ul {
	padding-inline-start: 0;
  }

.btnGrp {
	padding-inline-start: 0px;
}

.btnGrp li {
	display: block;
    width: 170px;
}

.displayBarBtn {
	color: white;
	background-image: linear-gradient(to right, black , blue);
	margin: auto;
    padding: 5px;
    width: 100px;
	position: sticky;
}

.messageBtnBar {
	height: 0;
	margin: unset;
	width: auto;
	right: 0;
	top: 0;
	z-index: 2;
	display: block;
	position: sticky;
	/* list-style-type: unset; */
	/* display: unset; */
	text-align: right;
	margin-inline-end: 5px;
}

.messageBtnBar li {
	display: inline-block;
	margin: 3px;
  }

.MsgContents {
	overflow: auto;
	position: relative;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.namespaceCategorySearchBar {
	list-style-type: none;
}

.namespaceCategorySearchBar li {
	display: inline-block;
}

.namespaceCategorySearchBtn {
	width: fit-content;
	display: block !important;
	background-color: lightblue;
}

.namespaceCategoryDropDown {
	display: none;
	margin-left: 5px;
}

.minimiseButtonBarBtn {
	display: none;
	background-color: lightblue;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
	top: -1px;
	right: 50px;
	width: 10px;
	position: absolute;
    right: 0px;
}

.sideBySideCompareBtn {
	background-color: green;
	color: white;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
	/*margin-left: -145px;*/
	top: 0px;
} 

.searchSegmentsBtn {
	background-color: magenta;
	position: sticky;
	bottom: 5px;
	right: 105px;
	/*margin-left: 5px;*/
}

.schemaModeButton {
	background-color: orange;
	color: white;
	position: sticky;
	bottom: 5px;
	right: 5px;
	/*margin-left: 5px;*/
}


.hideLegendBtn {
	background-color: gray;
	color: white;
	margin: 10px;
	display: inline-table;
}

.showLegendBtn {
	background-color: gray;
	color: white;
}

.legendTitle {
	cursor: grab;
	background: black;
	color: white;
}

.legendTitle:hover {
	background: grey;
	color: black;
}

.legendTitle:active {
	box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.3);
	cursor: grabbing;
}

.shareBtn {
	background-color: purple;
	color: white;
	position: sticky;
	bottom: 5px;
	/*margin-left: 5px;*/
}

.reopenButton {
	background-color: red;
	color: white;
	position: sticky;
	bottom: 5px;
	right: 105px;
	/*margin-left: 5px;*/
	
}

.searchExpandedSchemaBtn {
	background-color: aqua;
	position: sticky;
	bottom: 5px;
	right: 105px;
	/*margin-left: 5px;*/
}


.hideUnrelatedBtn {
	background-color: cream;
	position: sticky;
	bottom: 5px;
	right: 105px;
	/*margin-left: 5px;*/
}

.showRelatedBtn {
	background-color: turquoise;
	position: sticky;
	bottom: 5px;
	right: 105px;
	/*margin-left: 5px;*/
}

.wrapRowsBtn {
	background-color: green;
	color: white;
	
	cursor: pointer;
	position: sticky;
	bottom: 5px;
	/*margin-left: 5px;*/
}

.minimiseAllBtn {
	background-color: darkblue;
	color: white;
	position: sticky;
	bottom: 5px;
	right: 5px;
	/*margin-left: 5px;*/
}

.textCompareBtn {
	background-color: salmon;
	color: white;
	position: sticky;
	bottom: 5px;
	right: 5px;
	/*margin-left: 5px;*/
	
}

.messageImportBtn {
	background-color: DarkTurquoise;
	color: white;
	/*margin-left: 5px;*/
	position: ;
}

.expandSchemaBtn {
	background-color: DodgerBlue;
	color: white;
	/*margin-left: 5px;*/
	position: ;
}

.copyRawBtn {
	background-color: lightgrey;
	/*margin-left: 5px;*/
	position: ;
}

.saveMessageViewerBtn {
	background-color: purple;
	color: white;
}

.criteriaCacheBtn {
	background-color: #05c705;

}

.exportCsvBtn {
	background-color: rgb(0, 9, 135);
	color: white;
}

.analysisBtn {
 	background-color: red;
 	color: white;
}


.minimiseBtn {
	background-color: lightblue;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
	/*margin-left: -35px;*/
	display: inherit;
}

.copyRawTextBtn {
	background-color: lightgrey;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
	/*margin-left: -137px;*/
	display: inherit;
	
}

.closeBtnDelete {
	background-color: pink;
	padding-left: 3px;
	padding-right: 3px;
	border: solid 1px black;
	cursor: pointer;
	position: absolute;
	display: inherit;
}

.closeBtnHide{
	background-color: pink;
	padding-left: 3px;
	padding-right: 3px;
	border: solid 1px black;
	cursor: pointer;
	display: inherit;
}

.closeBtnHide > * { pointer-events: none; }


.minimiseiFrameBtn {
	position: absolute;
	background-color: pink;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
    display: block;
    margin-top: 10px;
    right: 5px;
}


.toggleFilterBtn {
	background-color: pink;
	display: block;
}

.maximiseBtn {
	background-color: rgb(26, 136, 214);
	display: block;
}

.clearSelectedMessagesBtn {
	background-color: rgb(251, 73, 73);
	display: block;
}

.openSelectedMessagesBtn {
	background-color: rgb(211, 26, 214);
	display: block;
}

.IWFullScreen {
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 1001;
	height: 100%;
	width: 100%;
	background: #fff;
	box-shadow: inset 0px 0px 3px 1px #000000;
}

.IWFullScreen .chartContainerMain .chart {
	height: 100%;
	width: 100%;
	max-height: 80% !important;
	padding: 20px;
}

.IWFullScreen .chartContainerMain {
	height: 90%;
}

.IWFullScreenControlBox {
	padding: 0px;
}

.IWFullScreen .chartContainerMain .chart #dynamicChart {
	max-height: 100% !important;
}

#buttonBardynamicChart {
	position: absolute;
	top: 140px;
	right: 100px;
}

.lineGraphViewBtn {
	background-color: rgb(26, 214, 120);
	display: block;
}

.IWFullScreen #buttonBardynamicChart {
	position: absolute;
	top: 0px;
	right: 0px;
}

.resetZoomBtn {
	background-color: dodgerblue;
	display: block;
	margin-left: 5px;
}

.minimiseChart {
	background-color: dodgerblue;
	display: block;
}
