
.whizButton {
	z-index: 2;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
	white-space: nowrap;
	display: none;
}

.whizButton:hover {
	border: solid 1px grey;
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.6);
}

.whizButton:active {
	box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.3);
}


.buttonBar {
	list-style-type: none;
	text-align: center;
	margin: 0;
	position: sticky;
	top: 0;
	z-index: 3;
	padding: 2px 25px;
	max-width: 50%;
    min-width: 200px;
    margin: auto;
	width: fit-content;
}

.buttonBar li {
  display: inline-block;
  margin: 3px;
}

.buttonBar ul {
	padding-inline-start: 0;
  }

.btnGrp {
	padding-inline-start: 0px;
}

.btnGrp li {
	display: block;
    width: 170px;
}

.displayBarBtn {
	color: white;
	background-image: linear-gradient(to right, black , blue);
	margin: auto;
    padding: 5px;
    width: 100px;
	position: sticky;
}

.messageBtnBar {
	height: 0;
	margin: unset;
	width: auto;
	right: 0;
	top: 0;
	z-index: 2;
	display: block;
	position: sticky;
	/* list-style-type: unset; */
	/* display: unset; */
	text-align: right;
	margin-inline-end: 5px;
}

.messageBtnBar li {
	display: inline-block;
	margin: 3px;
  }

.MsgContents {
	overflow: auto;
	position: relative;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.namespaceCategorySearchBar {
	list-style-type: none;
}

.namespaceCategorySearchBar li {
	display: inline-block;
}

.namespaceCategorySearchBtn {
	width: fit-content;
	display: block !important;
	background-color: lightblue;
}

.namespaceCategoryDropDown {
	display: none;
	margin-left: 5px;
}

.minimiseButtonBarBtn {
	display: none;
	background-color: lightblue;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
	top: -1px;
	right: 50px;
	width: 10px;
	position: absolute;
    right: 0px;
}

.sideBySideCompareBtn {
	background-color: green;
	color: white;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
	/*margin-left: -145px;*/
	top: 0px;
} 

.searchSegmentsBtn {
	background-color: magenta;
	position: sticky;
	bottom: 5px;
	right: 105px;
	/*margin-left: 5px;*/
}

.schemaModeButton {
	background-color: orange;
	color: white;
	position: sticky;
	bottom: 5px;
	right: 5px;
	/*margin-left: 5px;*/
}


.hideLegendBtn {
	background-color: gray;
	color: white;
	margin: 10px;
	display: inline-table;
}

.showLegendBtn {
	background-color: gray;
	color: white;
}

.legendTitle {
	cursor: grab;
	background: black;
	color: white;
}

.legendTitle:hover {
	background: grey;
	color: black;
}

.legendTitle:active {
	box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.3);
	cursor: grabbing;
}

.shareBtn {
	background-color: purple;
	color: white;
	position: sticky;
	bottom: 5px;
	/*margin-left: 5px;*/
}

.reopenButton {
	background-color: red;
	color: white;
	position: sticky;
	bottom: 5px;
	right: 105px;
	/*margin-left: 5px;*/
	
}

.searchExpandedSchemaBtn {
	background-color: aqua;
	position: sticky;
	bottom: 5px;
	right: 105px;
	/*margin-left: 5px;*/
}


.hideUnrelatedBtn {
	background-color: cream;
	position: sticky;
	bottom: 5px;
	right: 105px;
	/*margin-left: 5px;*/
}

.showRelatedBtn {
	background-color: turquoise;
	position: sticky;
	bottom: 5px;
	right: 105px;
	/*margin-left: 5px;*/
}

.wrapRowsBtn {
	background-color: green;
	color: white;
	
	cursor: pointer;
	position: sticky;
	bottom: 5px;
	/*margin-left: 5px;*/
}

.minimiseAllBtn {
	background-color: darkblue;
	color: white;
	position: sticky;
	bottom: 5px;
	right: 5px;
	/*margin-left: 5px;*/
}

.textCompareBtn {
	background-color: salmon;
	color: white;
	position: sticky;
	bottom: 5px;
	right: 5px;
	/*margin-left: 5px;*/
	
}

.messageImportBtn {
	background-color: DarkTurquoise;
	color: white;
	/*margin-left: 5px;*/
	position: ;
}

.expandSchemaBtn {
	background-color: DodgerBlue;
	color: white;
	/*margin-left: 5px;*/
	position: ;
}

.copyRawBtn {
	background-color: lightgrey;
	/*margin-left: 5px;*/
	position: ;
}



.minimiseBtn {
	background-color: lightblue;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
	/*margin-left: -35px;*/
	display: inherit;
}

.copyRawTextBtn {
	background-color: lightgrey;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
	/*margin-left: -137px;*/
	display: inherit;
	
}

.closeBtnDelete {
	background-color: pink;
	padding-left: 3px;
	padding-right: 3px;
	border: solid 1px black;
	cursor: pointer;
	position: absolute;
	display: inherit;
}

.closeBtnHide{
	background-color: pink;
	padding-left: 3px;
	padding-right: 3px;
	border: solid 1px black;
	cursor: pointer;
	display: inherit;
}


.minimiseiFrameBtn {
	position: absolute;
	background-color: pink;
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px black;
	cursor: pointer;
    display: block;
    margin-top: 10px;
    right: 5px;
}
