/* Custom CSS */

:root {
  --schema-highlight: #eaafff;
  --schema-background: mediumpurple;
}

.schemaMatch {
	background: var(--schema-highlight);
}

.schemaField {
	border-bottom: 1px solid mediumpurple;
	white-space: nowrap;
	font-size: 12;
	padding: 2px 5px;
}

.schemaFieldHeader {
	background-color: var(--schema-background);
	color: white;
	padding: 2px 5px;
}


.schemaFieldLink {
	border-bottom: 1px solid mediumpurple;
	white-space: nowrap;
	font-size: 12;
	padding: 2px 5px;
	cursor: pointer;
	color: blue;
}



.IWMsgOutline {
	border: 2px solid darkblue;
	background-color: white;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
	position: relative;
	padding-top: 5px;
	overflow-x: auto;	
}

.IWMsgTitle {
	position: sticky;
	padding: 10px;
	left: 0;
	font-weight: bold;
	width: max-content;
}

.MsgContents table {
	width: max-content;
}

.generateDiv {
	margin: 30px;
    padding: 5px;
    border: black 1px solid;
    max-width: 760px;
}

.gptForm{
	display: grid;
    grid-template-columns: auto 50% auto;
	margin-bottom: 15px;
}

.gptFormTextArea {
	display: grid;
    grid-template-columns: auto 50% auto;
	margin-bottom: 15px;
	width: 95% !important;
    min-height: 100px !important;
}

.gptFormLabel {
	display: grid;
    grid-template-columns: auto 50% auto;
}

#rightContainer {
	height: 100%;
	height: -webkit-fill-available;
	position: fixed;
	right: 0px;
	top: 0px;
	padding-top: 44px;
	overflow-y: scroll;
}

#leftContainer {
    padding-top: 8px;
    padding-right: 8px;
	height: 100%;
    overflow-y: scroll;
}

#divider {
	width: 4px;
	height: 100%;
	cursor: col-resize;
	background-color: gray;
	position: absolute;
	top: 0px;
	z-index: 2;
}