
:root {
  --main-colour: 0,255,255;
  --highlight-colour: 0,255,255;
}
.portalTitle {
	width: 100%; 
	height: 60px;
	position: relative;
	border-bottom: 1px solid gray;
	background: rgb(var(--main-colour)) !important;

}

.stdTitle {
    background: rgb(var(--main-colour)) !important;
}

/* for iris */
#header {
	background: rgb(var(--main-colour)) !important;
}

