
:root {
	--main-colour: rgba(255,0,0);
	--main-colour-background: rgba(255,0,0);
	--highlight-colour: rgb(255,255,255);
	--link-colour: rgb(0,255,216);
  --backup-mc: linear-gradient(top, rgb(232,231,226), rgb(242,241,236),rgb(222,221,216));
	--mc: var(--main-colour, --backup-mc);
	--mcb: var(--main-colour-background, --mc);
	--hc: var(--highlight-colour, initial);
	--lc: var(--link-colour, blue);
  }
  
  .portalTitle {
	  background: var(--mcb) !important;
	  background: var(--mc) !important;
  }
  
  .portalName {
	  color: var(--hc) !important;
  }
  
  .stdTitle {
	  background: var(--mc) !important;
	  color: var(--hc) !important;
  }
  
  .portalTitleInfoLabel {
	  color: var(--hc) !important;
  }
  
  .portalTitleInfoVal {
	  color: var(--hc) !important;
  }
  
  .portalTitleLink {
	  color: var(--lc) !important;
  }
  
  #portalServerFlag {
	  color: var(--lc) !important;
  }
  
  
  /* for iris */ 
  #header {
    background: var(--mc) !important;
  }
  
  #zenLayoutTableCell_2 {
	  background: var(--mcb) !important;
	  background: var(--mc);
	  color: var(--hc) !important;
  }
  
  #locatorRow {
	  background: var(--mcb);
	  background: var(--mc) !important;
  }
  
  #locatorRow a {
	  color: var(--hc) !important;
  }
  
  #locatorRow span {
	  color: var(--hc) !important;
	  
  }
  
  /* iris - rule editor */
  .fr-header-sidenav-container .header .mat-toolbar {
	  background: var(--mcb) !important;
	  background: var(--mc);
  }
  
  .appNameContainer {
	  background: var(--mc) !important;
	  color: var(--hc) !important;
  }
  

  mat-toolbar-row.mat-toolbar-row {
    background: var(--mcb) !important;
    background: var(--mc) !important;
    }