
:root {
  --main-colour: 200,0,0;
  --highlight-colour: 255,255,255;
  --link-colour: 0,255,216;
}

.portalTitle {
	background: rgb(var(--main-colour)) !important;
	border-bottom: rgb(var(--main-colour)) !important;
}

.stdTitle {
    background: rgb(var(--main-colour)) !important;
	color: white !important;
}

.portalTitleInfoLabel {
	color: rgb(var(--highlight-colour)) !important;
}

.portalTitleLink {
	color: rgb(var(--link-colour)) !important;
}

/* for iris 
#header {
	background: rgb(var(--main-colour)) !important;
}*/

#zenLayoutTableCell_2 {
	background: rgb(var(--main-colour)) !important;
	color: white;
}

#locatorRow a {
	color: white;
}

#locatorRow span {
	color: white;
}

/* iris - rule editor */
.fr-header-sidenav-container .header .mat-toolbar {
    background: rgb(var(--main-colour)) !important;
}