
:root {
  --main-colour: 255,173,1;
  --highlight-colour: 0,0,0;
  --link-colour: 0,0,255;
}

.portalTitle {
	background: rgb(var(--main-colour)) !important;
	border-bottom: rgb(var(--main-colour)) !important;
}

.stdTitle {
    background: rgb(var(--main-colour)) !important;
}

.portalTitleInfoLabel {
	color: rgb(var(--highlight-colour)) !important;
}

.portalTitleLink {
	color: rgb(var(--link-colour)) !important;
}

/* for iris */
#header {
	background: rgb(var(--main-colour)) !important;
}

/* iris - rule editor */
.fr-header-sidenav-container .header .mat-toolbar {
    background: rgb(var(--main-colour)) !important;
}