.row {
  display: grid;
  grid-template-columns: auto 50% auto;
  padding: 10px;
}



.column {
  padding: 20px;
  margin: 20px;
}

#status {
		position: sticky;
		top: 50px;
		padding: 20px 10px;
		color: #fff;
		font-weight: 400;
		letter-spacing: 1px;
		border-radius: 5px;
		border: 2px solid #e7e7e7;
		width: 50%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: none;
		
	}

.material-symbols-outlined {
	cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.form-container{
    background-color: #eaeaea;
    padding: 30px 30px 15px 30px;
    border-radius: 5px;
    box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
    min-width: fit-content;
}
.form-container .title{
    font-size: 25px;
    font-weight: 575;
    text-transform: capitalize;
    margin: 0 0 15px;
}

.form-group{
    color: #646464;
    width: 100%;
    padding: 0 8px;
    margin: 0 0 15px;
    display: inline-block;
}



.form-group label{
    font-size: 15px;
    font-weight: 500;
}

.signup a:hover{ text-decoration: underline; }
.signup{
    color: #fff;
    background: #00A9EF;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 160px;
    padding: 8px 15px 9px;
    transition: all 0.3s ease 0s;
	border: solid 1px black;
}


.btn:hover,
.btn:focus{
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 3px 3px rgba(0,0,0,0.15),5px 5px rgba(0,0,0,0.1);
    outline: none;
}

@media only screen and (max-width:479px){
    .form-container .form-horizontal .form-group{ width: 100%; }
    .form-container .signin-link{
        width: 100%;
        margin: 0 10px 15px;
    }
}





.instanceHeaders td {
	background: #646464;
  color: #d3d3d3;
  font-weight: bold;
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}

.instanceHeaders tr:hover {
  background: #646464;
  color: #d3d3d3;
  font-weight: bold;
}


.namespaceHeaders {
  background: #646464;
  color: #d3d3d3;
  font-weight: bold;
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}

.namespaceHeaders tr:hover {
  background: #646464;
  color: #d3d3d3;
  font-weight: bold;
}

.colourHeaders td {
  background: #646464;
  color: #d3d3d3;
  font-weight: bold;
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}

.colourHeaders tr:hover {
  background: #646464;
  color: #d3d3d3;
  font-weight: bold;
}


.spacer {
	border: none;	
}

tr {
	height: 40px;
  background: #ffffff;
	
}

tr:hover {background-color: #ddd;}

th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td {
	padding-left: 10px;
	padding-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 75px;
  width: 75px;

}

td select {
  width: inherit;
}

td input {
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
  display: block;
  position: relative;
  z-index: 3;
  word-wrap: break-word;
  min-width: fit-content;
  height: 50px;

}

caption {
  text-align: center;
  border: 1px grey solid;
  background: #646464;
  color: #d3d3d3;
  font-size: x-large;
}

.spacer {
  background: #eaeaea;
}

.instanceDelete {
	background: pink;
	color: white;
	cursor: pointer;
}

.instanceDelete:hover {
	box-shadow: 3px 3px rgba(0,0,0,0.15),5px 5px rgba(0,0,0,0.1);
	border: 1px black solid;
	
}

.newNamespaceField::before {
	content: "Add Namespace ";
	color: orange;
	cursor: pointer;
}

.newNamespaceField {
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}

.newInstanceField::before {
	content: "Add Instance ";
	color: orange;
	cursor: pointer;
}

.newInstanceField {
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}


.newColourField::before {
	content: "Add Colour ";
	color: orange;
	cursor: pointer;
}

.newColourField {
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}


.namespaceDelete {
	background: pink;
	color: white;
	cursor: pointer;
}

.namespaceDelete:hover {
	box-shadow: 3px 3px rgba(0,0,0,0.15),5px 5px rgba(0,0,0,0.1);
	border: 1px black solid;
}


.colourDelete {
	background: pink;
	color: white;
	cursor: pointer;
}

.colourDelete:hover {
	box-shadow: 3px 3px rgba(0,0,0,0.15),5px 5px rgba(0,0,0,0.1);
	border: 1px black solid;
}

table, th, td {
  border: 1px solid #e7e7e7;
  border-spacing: 0px;
}

table {
  width: 100%;
  background: #fff;
  margin: auto;
  border: 2px solid gray;
}

.tableHeader {
  position: sticky;
  top: 0px;
}



.selected {
  background: #A9A9A9;
  color: #ffffff;
  font-weight: bold;
}

body {
  font-size: 14px;
  color: #646464;
}



.namespaceContainer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(244,244,244,0.5);
  border-radius: 25px;
  height: 100%;
}

.namespaceContainer .tableContainer {
  position: fixed;
  border: 2px solid gray;
  left: 25%;
  top: 25%;
  width: 50%;
}

.tableContainer {
  height: 50%;
  overflow: auto;
}